/**
 * Globals
 */
@import "global/vars";
@import "global/fonts";
@import "global/buttons";
@import "global/containers";
@import "global/font-style";

/**
 * Backend
 */
@import "backend/global";

/**
 * Components
 */
@import "components/top-bar";
@import "components/image-picker";
@import "components/actor-repeater";


/**
 * Reset CSS
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $beige;
}