.add-comment-form {
    textarea {
        width: 100%;
        padding: 1rem;

        &:focus {
            outline-color: $black;
        }
    }

    .button-black {
        margin: 15px auto 0 auto;
    }
}